<h1>Anagrams</h1>
<form action="/results">
  <label for="words">Please enter two words or phrases seperated with a apostrophe,</label>
  <input id="words" name="words" type="text"/>

  <button type="submit">Submit!</button>
</form>
